.container-card {
  margin-top: -8%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 95px;
  position: absolute;
  border-radius: 6px;
}

.card:hover {
  box-shadow: 10px 5px 20px black;
  cursor: pointer;
}

#card {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all .6s;
  margin-left: 35%;
}

#front {
  background: linear-gradient(-45deg, #3291DB, #4ea1d1, #2e2f86, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
  transform: rotateY(180deg);
  font: 500 1.25rem/1 "Roboto", sans-serif;
}

#back {
  backface-visibility: hidden;
  background-color: #0f172a;
  border: 1px solid #0f172a;
}


.flip {
  transform: rotateY(180deg);
}


.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 95px;
  position: absolute;
  border-radius: 6px;
}

.card-2:hover {
  box-shadow: 10px 5px 20px black;
  cursor: pointer;
}

#card-2 {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all .6s;
  margin-left: 50%;
}

#front-2 {
  background: linear-gradient(-45deg, #3291DB, #4ea1d1, #2e2f86, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
  transform: rotateY(180deg);
  font: 500 1.25rem/1 "Roboto", sans-serif;
}

#back-2 {
  backface-visibility: hidden;
  background-color: #0f172a;
  border: 1px solid #0f172a !important;
}

.flip-2 {
  transform: rotateY(180deg);
}

.card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 95px;
  position: absolute;
  border-radius: 6px;
}

.card-3:hover {
  box-shadow: 10px 5px 20px black;
  cursor: pointer;
}

#card-3 {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all .6s;
  margin-left: 20%;
}

#front-3 {
  background: linear-gradient(-45deg, #3291DB, #4ea1d1, #2e2f86, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
  transform: rotateY(180deg);
  font: 500 1.25rem/1 "Roboto", sans-serif;
}

#back-3 {
  background-color: #0f172a;
  border: 1px solid #0f172a;
  backface-visibility: hidden;
}

.flip-3 {
  transform: rotateY(180deg);
}

.img-css {
  height: 95px;
}

.img-js {
  height: 99px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.detalhe-pag {
  margin-top: -22%;
  position: relative;
}