body {
  max-width: 100%;
  box-sizing: border-box;
}

/* NAV-BAR */

.bg-menu .conteiner-nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.bg-menu {
  /* position: fixed; */
  align-items: center;
  width: 100%;
  z-index: 100;
  background-color: var(--color-3);
}

.bg-menu .nav .nav-lista {
  display: inline-flex;
}


.logo a {
  display: inline-block;
  position: relative;
  margin-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-lista a {
 padding: 8px;
 color: var(--color-1);
 margin: 5px;
 margin-right: 50px;
}

.nav-lista a:hover {
 border-bottom: 3px solid #6246a8;
 transition: all 0.1s ease-in-out;
}

/* DESCRIÇÃO */

.conteiner-desc{
  display: block;
  background: linear-gradient(187deg, #0f172a 40%, #0e83b9 100%, #6495ED, #5474d4);
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.sobre {
  display: flex;
  padding-top: 10%;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 8%;
}

.sobre h3 {
  line-height: 50px;
}

.sobre h1 {
  line-height: 60px;
}

.sobre p {
  margin-top: 5px;
  line-height: 20px;
}

.detalhe-descricao::after {
  content: '/>';
  margin-left: 2px;
  opacity: 1;
  animation: piscar .7s infinite;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/* CARTAS */

.conteiner-card {
  margin-top: -8%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 95px;
  position: absolute;
  border-radius: 6px;
}

.card:hover {
  box-shadow: 10px 5px 20px black;
  cursor: pointer;
}

#card {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all .6s;
  margin-right: -50%;
}

#front {
  background: linear-gradient(-45deg, #3291DB, #4ea1d1, #2e2f86, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
  transform: rotateY(180deg);
  font: 500 1.25rem/1 "Roboto", sans-serif;
}

#back {
  backface-visibility: hidden;
  background-color: #0f172a;
  border: 1px solid #0f172a;
}


.flip {
  transform: rotateY(180deg);
}


.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 95px;
  position: absolute;
  border-radius: 6px;
}

.card-2:hover {
  box-shadow: 10px 5px 20px black;
  cursor: pointer;
}

#card-2 {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all .6s;
  margin-right: -35%;
}

#front-2 {
  background: linear-gradient(-45deg, #3291DB, #4ea1d1, #2e2f86, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
  transform: rotateY(180deg);
  font: 500 1.25rem/1 "Roboto", sans-serif;
}

#back-2 {
  backface-visibility: hidden;
  background-color: #0f172a;
  border: 1px solid #0f172a;
}

.flip-2 {
  transform: rotateY(180deg);
}

.card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 95px;
  position: absolute;
  border-radius: 6px;
}

.card-3:hover {
  box-shadow: 10px 5px 20px black;
  cursor: pointer;
}

#card-3 {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all .6s;
  margin-right: -20%;
}

#front-3 {
  background: linear-gradient(-45deg, #3291DB, #4ea1d1, #2e2f86, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
  transform: rotateY(180deg);
  font: 500 1.25rem/1 "Roboto", sans-serif;
}

#back-3 {
  background-color: #0f172a;
  border: 1px solid #0f172a;
  backface-visibility: hidden;
}

.flip-3 {
  transform: rotateY(180deg);
}

.img-css {
  height: 95px;
}

.img-js {
  height: 99px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.detalhe-pag {
  margin-top: -22%;
  position: relative;
}

/* SOBRE */

.sobre-mim {
  max-width: 100%;
  min-height: 100vh;
  display: block;
  background: linear-gradient(187deg, #0f172a 100%, #0e83b9 40%, #6495ED, #5474d4);
  position: relative;
  margin-top: -5px;
}

.conteiner-sobre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-perfil {
  margin-top: 10%;
  margin-left: 5%;
  border-left: 10px solid #3291DB;
  border-bottom: 10px solid #3291DB;
}

.img-perfil img {
  border-radius: 10%;
}

.texto-sobre {
  border-right: 10px solid #3291DB;
  border-top: 10px solid #3291DB;
  margin-top: 10%;
  margin-left: 5%;
  width: 50%;
}

.texto-sobre p {
  line-height: 25px;
  margin: 10px 0;
}













