.container-modal {
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0, .6);
  position: fixed;
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modal img {
  border-radius: 6px;
}

.modal img:hover {
  height: 100%;
}

.modal-ativo {
  visibility: visible;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.modal-ativo .modal {
  animation: modal .3s forwards;
}

#fechar {
  position:absolute;
  top: 20px;
  right: 45px;
  border-radius: 100%;
  padding: 12px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--color-1);
  box-shadow: 0 6px 6px 0 var(--color-4);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}