.projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(187deg, #0f172a 100%, #0e83b9 40%, #6495ED, #5474d4);
}

.projetos img {
  margin: 15px 15px 0px 15px;
  width: 400px;
  height: 250px;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.8;
  cursor: pointer;
  transition: all linear 0.4s;
}

.box-projeots {
  overflow: hidden;
}

.projetos img:hover {
  opacity: 0.4;
}

.projetos h1 {
  padding: 20px;
  letter-spacing: 2px;
}

.projetos p {
  margin-left: 20px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.descricao-projetos {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 200px;
  margin: 0px 15px 15px 15px;
  border-radius: 0px 0px 6px 6px;
  background: var(--color-3);
}

.icon-projeto {
 display: flex;
 align-items: center;
 margin-left: 10px;
 margin-bottom: 5px;
}

.container-icon {
  display: flex;
  width: 100vh;
  align-items: center;
  justify-content: space-between;
}

.git-icon a img{
  width: 30px;
  height: 30px;
}
