.sobre-mim {
  min-height: 100vh;
  background: linear-gradient(187deg, #0f172a 100%, #0e83b9 40%, #6495ED, #5474d4);
  margin-top: -5px;
}

.container-sobre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-perfil {
  margin-top: 10%;
  border-left: 10px solid #3291DB;
  border-bottom: 10px solid #3291DB;
  padding: 15px;
  margin-left: 20px;
}

.img-perfil img {
  border-radius: 10%;
}

.texto-sobre {
  border-right: 10px solid #3291DB;
  border-top: 10px solid #3291DB;
  margin-top: 10%;
  margin-left: 5%;
  padding: 15px;
  width: 50%;
}

.texto-sobre p {
  line-height: 25px;
  margin: 10px 0;
}

@media (max-width: 1370px) {
  .img-perfil {
    margin-right: 10px;
    width: 30%;
  }
  .texto-sobre {
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5%;
  }
}

@media (max-width: 1170px){
  .img-perfil, .texto-sobre {
    border: none;
  }
  .container-sobre {
    flex-direction: column;
    
    align-items: center;
  }
}
